body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    padding: 20px;
    
}

form {
    margin-bottom: 20px;
}

.clock-list {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    align-items: center;
}
